Dockerfile
~*
*.o
*.user
*.Debug
*.Release
*.exe
*.autosave
qrc_schema.cpp
moc_*.cpp
Makefile
bin/*
moc/*
debug/*
release/*
installer*
PipelineProgram.app/*
.qmake.stash
.DS_Store

qrc_resources.cpp
*.rc
*.ai

.idea
obj
*__pycache__*
*pyc

docs/_examples/example_pipelines/example_data
docs/_examples/example_pipelines/*/out
docs/_examples/example_pipelines/*/graph*dot*
docs/_examples/example_pipelines/*/MyWorkflow
docs/_examples/example_pipelines/*/crash*
