QPushButton {
    border-image: url(:/images/expand.png);
    spacing: 5px;
    width: 10px;
    height: 20px;
}

QPushButton:hover {
    border-image: url(:/images/expand-hover.png);
}

QPushButton:checked {
    border-image: url(:/images/shrink.png);
}

QPushButton:checked:hover {
    border-image: url(:/images/shrink-hover.png);
}
