/* Customize check boxes. */
QPushButton                { color: black; }
QPushButton:disabled       { color: grey;  }
QPushButton:focus:pressed  { color: black; }
QPushButton:focus          { color: green; }
