QPushButton {
    border-image: url(:/images/globe.png);
    spacing: 5px;
    width: 10px;
    height: 20px;
}

QPushButton:hover {
    border-image: url(:/images/globe-hover.png);
}

QPushButton:checked {
    border-image: url(:/images/globe.png);
}

QPushButton:checked:hover {
    border-image: url(:/images/globe-hover.png);
}
