QPushButton {
    border-image: url(:/images/globe.png);
    height: 17px;
}

QPushButton:hover {
    border-image: url(:/images/globe-hover.png);
}

QPushButton:checked {
    border-image: url(:/images/globe.png);
}

QPushButton:checked:hover {
    border-image: url(:/images/globe-hover.png);
}
